* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 2.0em;
  color: black;
}

/*------- Link and Special Settings ---------*/
a:link {
  color: lightgray;
}
a:visited {
  color: lightgray;
}
a: hover {
  transition: .3s ease;
  color#fff;
}
a: active {
  color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

.dotted {
  font-size: .9em;
  border-bottom: 3px dotted white;
}

/*-----BOOTSTRAP BUTTON MODS-----*/
.btn-primary {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #141414;
  *background-color: #141414;
  background-image: -moz-linear-gradient(top, #9E9E9E, #141414);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9E9E9E), to(#141414));
  background-image: -webkit-linear-gradient(top, #9E9E9E, #141414);
  background-image: -o-linear-gradient(top, #9E9E9E, #141414);
  background-image: linear-gradient(to bottom, #9E9E9E, #141414);
  background-repeat: repeat-x;
  border-color: #141414;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9E9E9E', endColorstr='#141414', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #FFFFFF;
  background-color: #141414;
  *background-color: #003bb3;
}

/*-----RADIO---------------------*/
.radio-input-style {
  color: white;
  padding: 10px;
  padding-right: 50px;
  text-align: center;
}

/*---- USER GREETING DIVS--------*/
.user-style {
  background-color: darkgray;
  color: black;
  width: 32%;
  font-size: 1.2em;
}

.user-style-search {
  background-color: darkgray;
  color: black;
  width: 45%;
  font-size: 1.2em;
}

/*-----MAIN HEADING ------*/
.outer-wrapper {
  width: 60%;
  padding-bottom: 30px;
  margin: 0 auto;
  background-color: black;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  padding: 61px 0 0;
  margin: auto;
  background-color: transparent;
}

.main-header {
  position: fixed;
  text-align: right;
  padding-right: 20px;
  /*padding-top: 10px;*/
  width: 60%;
  margin: 0 auto;
  background-color: rgba(180,180,180, .95);
}

.main-footer {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 60%;
  margin: 0 auto;;
  background-color: rgba(200,200,200, .9);
}

/*------ NAV LINKS ----*/
.page-nav li {
  display: inline-block;
}

.page-nav {
  margin: auto;
  padding-top: 15px; /*TOP OF BUTTONS*/
}

/*FIX*/
ul.page-header {
  padding: 1px 1px;
  background-color: black;
  border: 1px solid black;
}

.page-header {
  position: fixed;
  text-align: center;
  padding-top: 25px;
  /*padding-bottom: 10px;*/
  width: 60%;
  margin: 0 auto;
}

.user-nav div {
  display: inline-block;
}

.user-nav {
  margin: auto;
  padding-top: 46px;
}

.user-header {
  position: fixed;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 0; /*moves 3rd fixed box*/
  background-color: black;
}

.content-section {  /*-- Start of Content --*/
  padding-top: 25px;
}

.white-text-display {
  color: white;
}

.first-content {
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

.red {
  color: red;
}

/*------- NAV BUTTON STYLING--------*/
.page-nav a {
  font-size: 1.2em;
  width: 100%;
  background-color: darkgray;
  color: black;
  padding: 12px 20px;
  /*border: 1px black solid;*/
  text-decoration: none;
  margin-right: -4px;
}

.page-nav li a:hover {
  background-color: #43769D;
  color: white;
  transition: 0.5s ease;
}

/*------ Extra ----*/
.no-padding {
  margin-top: 0;
}

.inline-user-info li{
  display: inline-block;
}

datalist {
  width: 200px;
}

.datalist-width {
  width: 70%;
}

.datalist-style {
  font-size: 1.3em
}

.message-nest {
  background-color: lightgray;
  border-radius: 25px;
  margin: 17px;
  padding: 10px;
  font-size: 1.2em;
}

.btn-primary, .btn-default {
  border-radius: 5px;
  font-size: 1.1em;
}

/*----LANDING BACKGROUNDS----*/
.cover-landing {
  background-image: url('../img/landing.png');
  min-height: 100vh;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
.userPage-background {
  background-color: black;
  min-height: 100vh;
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

/*------OTHER-------*/

input {
  margin: 5px 5px;

}

.input-box-style {
  color: black;
}

.page-padding {
  padding: 5px 5px;
}
/* media query */
@media only screen and (max-width: 1095px) {

.outer-wrapper {
  min-width: 730px;
  width: 100%;
  padding-bottom: 30px;
  margin: 0 auto;
  background-color: black;
}

.wrapper {
  width: 100%;
  min-width: 730px;
}

.main-header {
  position: fixed;
  width: 100%;
  min-width: 730px;
  margin: 0 auto;
  background-color: rgba(200,200,200, .85);
}

.main-footer {
  width: 100%;
  min-width: 730px;
}

.page-header {
  width: 100%;
  min-width: 730px;
}

.user-header {
  width: 100%;
  min-width: 730px;
}

}

