* {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 2.0em;
}

h1 {
  color: darkred;
}

nav a{
  display: inline-block;
}

datalist {
  width: 200px;
}

.datalist-width {
  width: 70%;
}

.datalist-style {
  font-size: 1.3em
}

.message-nest {
  background-color: lightgray;
  border-radius: 25px;
  margin: 5px;
  padding: 10px;
}

.btn-primary, .btn-default {
  border-radius: 15px;
  font-size: 1.1em;
}