* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 2.0em;
}

/*------- Link and Special Settings ---------*/
a:link {
  color: lightgray;
}
a:visited {
  color: lightgray;
}
a: hover {
  transition: .3s ease;
  color#fff;
}
a: active {
  color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

/*---- USER GREETING DIVS--------*/
.user-style {
  background-color: darkgray;
  color:white;
  /*border: 1px solid white;*/
  /*border-radius: 5px;*/
  width: 32%;
  font-size: 1.2em;
}

/*-----MAIN HEADING ------*/
.outer-wrapper {
  /*border: 3px solid black;*/
  /*border-radius: 5px;*/
  /*margin-left: 20px;*/
  /*min-width: 800px;*/
  width: 60%;
  /*padding: 0px 0 100px;*/
  /*padding-left: 10px;*/
  margin: 0 auto;
  background-color: transparent;
}

.wrapper {
  min-height: 100vh; /*makes wrapper extend to bottom of view - required
  background-color: yellow;
  /*margin-left: 20px;*/
  /*min-width: 800px;*/
  width: 100%;
  padding: 61px 0 0;
  margin: auto;
  background-color: transparent;
}

.main-header {
  position: fixed;
  text-align: center;
  /*padding-top: 10px;*/
  width: 60%;
  margin: 0 auto;
  background-color: rgba(200,200,200, .85);
}

.main-footer {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 60%;
  margin: 0 auto;;
  background-color: rgba(200,200,200, .9);
}

/*------ NAV LINKS ----*/
.page-nav li {
  display: inline-block;
}

.page-nav {
  margin: auto;
  padding-top: 15px; /*TOP OF BUTTONS*/
  /*background-color: rgb(251, 237, 187);*/
}

.page-header {
  position: fixed;
  text-align: center;
  padding-top: 25px;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(245,245,245, .85);
}

.user-nav div {
  display: inline-block;
}

.user-nav {
  margin: auto;
  padding-top: 46px;
  /*background-color: red;*/
}

.user-header {
  position: fixed;
  text-align: center;
  /*padding-top: 81px;*/
  width: 60%;
  margin: 0 auto;
  padding-top: 0; /*moves 3rd fixed box*/
  background-color: rgba(245,245,245, .85);
}

.content-section {  /*-- Start of Content --*/
  padding-top: 25px;
}

.first-content {
  padding-left: 15px;
}

/*------- NAV BUTTON STYLING--------*/



.page-nav a {
  font-size: 1.2em;
  width: 100%;
  background-color: lightgray;
  color: black;
  padding: 12px 30px;
  /*border: 1px black solid;*/
  text-decoration: none;
  margin-right: -4px;
  /*border-radius: 4px 4px 4px 4px;*/
}

.page-nav li a:hover {
  background-color: darkgray;
  color: white;
  transition: 0.5s ease;
}



/*------ Extra ----*/

h1 {
  color: darkred;
}

.inline-user-info li{
  display: inline-block;
}

datalist {
  width: 200px;
}

.datalist-width {
  width: 70%;
}

.datalist-style {
  font-size: 1.3em
}

.message-nest {
  background-color: lightgray;
  border-radius: 25px;
  margin: 5px;
  padding: 10px;
}

.btn-primary, .btn-default {
  border-radius: 5px;
  font-size: 1.1em;
}

.time-diplsay {
  text-align: right;
  display: inline-block;
}

/* media query */
@media only screen and (max-width: 1095px) {

/*body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 2.0em;
}*/
.outer-wrapper {
/*  border: 3px solid black;
  border-radius: 5px;*/
  /*margin-left: 20px;*/
  /*min-width: 800px;*/
  min-width: 730px;
  width: 100%;
  padding: 0px 0 100px;
  /*padding-left: 10px;*/
  margin: 0 auto;
  background-color: transparent;
}

.wrapper {
  /*min-height: 100vh; makes wrapper extend to bottom of view - required*/
  /*margin-left: 20px;
  /*min-width: 800px;*/
  width: 100%;
  min-width: 730px;
  /*padding: 71px 5px 5px;*/
  /*padding-left: 10px;*/
  /*margin: auto;*/
  /*background-color: transparent;*/
}

.main-header {
  /*z-index: 1000;*/
  /*min-width: 800px;*/
  position: fixed;
  text-align: center;
  width: 100%;
  min-width: 730px;
  margin: 0 auto;
  background-color: rgba(200,200,200, .85);
}

.main-footer {
/*  margin: 0 auto;
  position: fixed;
  bottom: 0;
  text-align: center;*/
  width: 100%;
  min-width: 730px;
/*  margin: 0 auto;;
  background-color: rgba(200,200,200, .9);*/
}

.page-header {
/*  position: fixed;
  text-align: center;*/
  /*padding-top: 71px;*/
  width: 100%;
  min-width: 730px;
/*  margin: 0 auto;
  background-color: rgba(245,245,245, .85);*/
}

.user-header {
 /* position: fixed;
  text-align: center;*/
  /*padding-top: 71px;*/
  width: 100%;
  min-width: 730px;
/*  margin: 0 auto;
  padding: 0;
  background-color: rgba(245,245,245, .85);*/
}


/*---Fix at Large View--*/
/*.user-style {
  font-size: 1.em;
}

.page-nav a {
  font-size: 1em;
}*/
}