* {
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  color: darkred;
}

nav a{
  display: inline-block;
}

datalist {
  width: 200px;
}

.datalist-width {
  width: 70%;
}

.datalist-style {
  font-size: 1.3em
}