<div class="userPage-background">
  <nav class="page-nav">
    <!-- Links -->
    <ul class="page-header">
      <li class="nav-button"><a href="#/userPage">Home</a></li>
      <li class="nav-button"><a href="#/rateDriver">Rate</a></li>
      <li class="nav-button"><a href="#/searchDriver">Search</a></li>
      <li class="nav-button"><a href="#/viewLeaders">Leaders</a></li>
      <li class="nav-button"><a href="#/help">Help</a></li>
    </ul>
  </nav>

  <section class="user-nav">
    <article class="user-header">
      <div class="user-style">{{rateDriver.userName}}</div>
      <div class="user-style"># {{rateDriver.plate}}</div>
      <div class="user-style">Score: {{rateDriver.score}}</div>
    </article>
  </section>

  <section class="content-section">
    <h2 class="first-content">Enter License Plate Info<h2>
    <h3 class="first-content">example(TN123-456)</h2>
    <form ng-submit="rateDriver.sendRateInfo()">
      <div class="form-group">
      <!-- <label for="plate-input">Enter License Plate Info - example(TN123-456):</label> -->
        <div>
          <!-- name in ng-model ="" passed to register controller -->
          <input ng-model="rateDriver.plate1" type="text" id="plate-input" placeholder="Plate#" required class="datalist-style" onkeyup="changePlateToUpperCase(this)"/>

        </div>

        <div class="radio-input-style">
          <label class="first-content">Apply points to this Message:</label>
          <input ng-model="rateDriver.modifier" type="radio" name="msgScore" ng-value="10">+ 10 Points
          <input ng-model="rateDriver.modifier" type="radio" name="msgScore" ng-value="-10">  - 10 Points
          <input ng-model="rateDriver.modifier" type="radio" name="msgScore" ng-value="0">  Neutral
        </div>


        <div>
          <label class="first-content" for="rate-driver">Select a Review or type your own:</label>
        </div>
        <div>
          <input ng-model="rateDriver.message" type="text" id="message-input" placeholder="Your Thoughts" list="messages" maxlength="100" class="datalist-width datalist-style" required>
          <datalist  id="messages">
              <option value="Very courteous Driver, wish there were more like you!!!">Very courteous Driver, wish there were more like you!!!</option>
              <option value="How about you not pull into traffic at such a slow speeds!!!">How about you not pull into traffic at such a slow speeds!!!</option>
              <option value="Gas pedal is on the right, why don't you try to go the speed limit!!!">Gas pedal is on the right, why don't you try to go the speed limit!!!</option>
              <option value="Get off your phone and watch the road!!!">Get off your phone and watch the road!!!</option>
              <option value="Left Lane Loser, get over and let the rest of us pass!!!">Left Lane Loser, get over and let the rest of us pass!!!</option>
              <option value="Hey Lead Foot, where's the fire!!!">Hey Lead Foot, where's the fire!!!</option>
              <option velue="Next time you park this close could you please leave me a can opener!!!">Next time you park this close could you please leave me a can opener!!!</option>
          </select>
        </div>


          <input class="btn btn-primary" type="submit" value="RateDriver"/>

      </div>
    </form>
  </section>
</div>

