<h1>Registration page</h1>

<!-- <p>Enter your license plate #</p>
<p>(state drop down and 7 digits. If less digits end with dashes)</p>
<p>Enter your user name and password</p>
<p>Enter your city</p>
<p>Enter your state</p>
<p>Enter your zip code</p> -->

<form ng-submit="register.sendRegInfo()">
  <div class="form-group">
  <label for="plate-input">Enter Your License Plate Info:</label>
    <div>
      <!-- name in ng-model ="" passed to register controller -->
      <input ng-model="register.plate" type="text" id="plate-input" placeholder="Plate#" list="states">
      <datalist  id="states">
        <option value="">N/A</option>
        <option value="AK">AK</option>
        <option value="AL">AL</option>
        <option value="AR">AR</option>
        <option value="AZ">AZ</option>
        <option value="CA">CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DC">DC</option>
        <option value="DE">DE</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="IA">IA</option>
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="MA">MA</option>
        <option value="MD">MS</option>
        <option value="ME">ME</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MO">MO</option>
        <option value="MS">MS</option>
        <option value="MT">MT</option>
        <option value="NC">NC</option>
        <option value="ND">ND</option>
        <option value="NE">NE</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>
        <option value="NV">NV</option>
        <option value="NY">NY</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="PR">PR</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VA">VA</option>
        <option value="VT">VT</option>
        <option value="WA">WA</option>
        <option value="WI">WI</option>
        <option value="WV">WV</option>
        <option value="WY">WY</option>
      </datalist>
    </div>

    <div>
      <label for="user-name">User Name:</label>
      <input ng-model="register.userName" type="text" id="user-name" placeholder="Your User Name"/>
    </div>
    <div>
      <label for="city-name">City:</label>
      <input ng-model="register.city" type="text" id="city-name" placeholder="Your City" />
    </div>
    <div>
      <label for="state-name">State:</label>
      <input ng-model="register.state" type="text" id="state-name" placeholder="Your State" />
    </div>
    <div>
      <label for="state-name">Zip:</label>
      <input ng-model="register.zip" type="text" id="zip-code" placeholder="Your Zip Code" />
    </div>
    <div>
      <input type="email" ng-model="register.email" placeholder="email" required/>
      <input type="password" ng-model="register.password" placeholder="password" required/>
      <input class="btn btn-primary" type="submit" value="Register"/>
    </div>
  </div>
</form>



<!--   <form ng-submit="auth.register()">
    <input type="email" ng-model="auth.email" placeholder="email" />
    <input type="password" ng-model="auth.password" placeholder="password" />
    <input class="btn btn-primary" type="submit" value="Register"/>
  </form> -->



<!-- OLD CODE TO DELETE LATER
<a href="#/userPage" class="btn btn-primary">Register</a> -->
<!-- <a href="#/help" class="btn btn-primary">Help</a> -->

<!--     <div>
      <label for="plate-input">First 7 Digits of plate:</label>
      <input ng-model="register.plate" type="text" id="plate-input" placeholder="Plate#"/>
    </div> -->