<h1>Search Driver</h1>

<a href="#/userPage" class="btn btn-primary">Home</a>
<a href="#/rateDriver" class="btn btn-primary">Rate A Driver</a>
<a href="#/searchDriver" class="btn btn-primary">Search A Driver</a>
<a href="#/viewLeaders" class="btn btn-primary">Leaders</a>
<a href="#/help" class="btn btn-primary">Help</a>
  <h1>Welcome {{searchDriver.userName}}</h1>
  <h3>User Plate Number is:{{searchDriver.plate}}</h3>
  <h3>Your Current Score is:{{searchDriver.score}}</h3>
  <!-- <p>{{searchDriver.rank}} ranked driver in the world</p> -->

<!-- <p>Search a License Plate(Input # - submit shows that user, messages, score, overall rank</p>

<p> is pulling from registered user licence.score and from messages is showing messages - firebase showing rank</p>

  <label for="user-name">Enter the Plate Number you are looking for:</label>
  <input type="text" placeholder="Plate Search" ng-model="search">


<h3>OR</h3> -->

<form ng-submit="searchDriver.searchDriverInfo()"> <!-- do I add another ng-submit here for messages-->
  <div>
    <label for="user-name">Enter the Plate Number you are looking for:</label>
    <input ng-model="searchDriver.plate1" type="text" id="plate-search" placeholder="Plate Search" required class="datalist-style" />
  </div>
  <input class="btn btn-primary" type="submit" value="RunSearch" required/>
</form>

<div>
  <h1>Searched User: {{searchDriver.searchedUserName}}</h1>
  <!-- <p>{{searchDriver.userName}}</p> -->
  <!-- <h3>{{searchDriver.searchedUserName}}'s plate Number is: {{searchDriver.searchedPlate}}</h3> -->
  <h3>{{searchDriver.searchedUserName}}'s current Score is: {{searchDriver.searchedScore}}</h3>
</div>


<!--NEW-->
<h3>Here are the messages about this driver: </h3>
<div class="message-nest" ng-repeat="messages in searchDriver.messages | orderBy: 'time':true">
<!-- <div class="message-nest" ng-repeat="messages in userPage.messages"> -->
  <h4>{{messages.message}}</h4>
  <div>
    <h5 class="time-display">{{messages.time}}</h5>
  </div>
</div>


<p>Maybe a button, (Rate this driver) takes you to RateDriver page with lic# populated</p>

